<div class="container mt-5">
  <div class="row">
    <!-- <div class="col-md-6 bg-img"></div> -->
    <div class="col-md-6 col-md-offset-6 p-30 text-center bg-white">
      <h4 class="mb-50 fw-bold">ACHIEVEMENTS</h4>
      <ul class="timeline">
        <li *ngFor="let event of EventsForTimeline">
          <div class="timeline-badge" [style.background-color]="event.color"></div> <!-- Używamy koloru z EventDTO -->
          <div class="timeline-panel" (click)="toggleEvent(event)">
            <div class="timeline-heading">
              <h5 class="timeline-title">{{ event.title }}</h5> <!-- Zmieniamy na event.title -->
              <p class="text-sm">{{ event.category_name }}</p> <!-- Zmieniamy na event.category_name -->
              <p class="timeline-meta text-xs">
                <i class="fas fa-map-marker-alt va-middle mr-5"></i>
                <span class="va-middle mr-5">{{ event.start_date }} - {{ event.end_date }}</span> <!-- Zmieniamy na event.start_date i event.end_date -->
              </p>
            </div>
            <div class="timeline-body" *ngIf="isEventOpen(event)">
              <img [src]="event.image" alt="{{ event.title }}" class="event-image"> <!-- Używamy event.image -->
              <p>{{ event.description }}</p> <!-- Używamy event.description -->
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
