body {
  background-color: #f9f9f9;
  margin-top: 20px;
}

.blur {
  -webkit-box-shadow: 0 0 15px rgba(188, 191, 200, 0.1), 0 0 15px rgba(188, 191, 200, 0.2) !important;
  box-shadow: 0 0 15px rgba(188, 191, 200, 0.1), 0 0 15px rgba(188, 191, 200, 0.2) !important;
}

.timeline {
  list-style: none;
  padding: 20px 0;
  position: relative;
  margin: 0 auto;
  max-width: 800px;
}

.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 4px;
  background-color: #dddfe6;
  left: 50%;
  margin-left: -2px;
}

.timeline > li {
  margin-bottom: 50px;
  position: relative;
}

.timeline > li > .timeline-panel {
  background-color: #fff;
  width: 50%;
  float: left;
  border-radius: 5px;
  padding: 20px;
  position: relative;
  box-shadow: 0 2px 12px rgba(188, 191, 200, 0.1), 0 2px 12px rgba(188, 191, 200, 0.2) !important;
}

.timeline > li > .timeline-panel:hover {
  transform: translateY(-3px);
}

.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
}

.timeline-body > p {
  margin-bottom: 0;
}

.timeline-badge {
  color: #fff;
  background: #dddfe6;
  width: 25px;
  height: 25px;
  line-height: 15px !important;
  font-size: 0.75rem;
  text-align: center;
  position: absolute;
  top: 20px;
  left: 50%;
  margin-left: -12.5px;
  z-index: 100;
  border: 5px solid #fff;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
}

.event-image {
  display: block;
  max-width: 100%;
  height: auto;
  margin-bottom: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

