<div>
  <h2>Lista wydarzeń</h2>
  <table>
    <thead>
    <tr>
      <th>
        Tytuł
        <button (click)="sortEvents('title')">↑↓</button>
      </th>
      <th>
        Data rozpoczęcia
        <button (click)="sortEvents('start_date')">↑↓</button>
      </th>
      <th>
        Data zakończenia
        <button (click)="sortEvents('end_date')">↑↓</button>
      </th>
      <th>
        Kategoria
        <button (click)="sortEvents('category_name')">↑↓</button>
      </th>
      <th>
        Opis
        <button (click)="sortEvents('description')">↑↓</button>
      </th>
      <th>Akcje</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let event of events">
      <td>{{ event.title }}</td>
      <td>{{ formatDate(event.start_date) }}</td>
      <td>{{ formatDate(event.end_date) }}</td>
      <td>{{ event.category_name }}</td>
      <td>{{ event.description }}</td>
      <td>
        <button (click)="startEdit(event)">Edytuj</button>
        <button (click)="deleteEvent(event.id)">Usuń</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<!-- Formularz edycji -->
<div *ngIf="editMode" class="edit-form">
  <h3>Edytuj wydarzenie</h3>
  <form>
    <div *ngIf="eventToEdit">
      <label for="title">Tytuł:</label>
      <input id="title" [(ngModel)]="eventToEdit.title" name="title" />

      <label for="start_date">Data rozpoczęcia:</label>
      <input
        id="start_date"
        type="date"
        [(ngModel)]="eventToEdit.start_date"
        name="start_date"
      />

      <label for="end_date">Data zakończenia:</label>
      <input
        id="end_date"
        type="date"
        [(ngModel)]="eventToEdit.end_date"
        name="end_date"
      />

      <label for="description">Opis:</label>
      <textarea
        id="description"
        [(ngModel)]="eventToEdit.description"
        name="description"
      ></textarea>
    </div>
    <div class="buttons">
      <button type="button" (click)="saveChanges()">Zapisz</button>
      <button type="button" (click)="cancelEdit()">Anuluj</button>
    </div>
  </form>
</div>
