<div>
  <h2>Lista wydarzeń</h2>
  <table>
    <thead>
    <tr>
      <th>Tytuł</th>
      <th>Data rozpoczecia</th>
      <th>Data zakonczenia</th>
      <th>Kategoria</th>
      <th>Description</th>
      <th>Akcje</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let event of events">
      <td>{{ event.title }}</td>
      <td>{{ formatDate(event.start_date) }}</td>
      <td>{{ formatDate(event.end_date) }}</td>
      <td>{{ event.category_name }}</td>
      <td>{{ event.description }}</td>
      <td>
        <button (click)="addEvent(event)">Dodaj</button>
        <button (click)="editEvent(event)">Edytuj</button>
        <button (click)="deleteEvent(event.id)">Usuń</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
