<div class="event-form-container">
<!--  <h2>Dodaj nowe wydarzenie</h2>-->
  <form (ngSubmit)="addEvent()">
    <div class="form-group">
      <label for="title">Tytuł wydarzenia:</label>
      <input
        id="title"
        type="text"
        [(ngModel)]="newEvent.title"
        name="title"
        required
        placeholder="Wpisz tytuł wydarzenia"
      />
    </div>

    <div class="form-group">
      <label for="category">Kategoria:</label>
      <select
        id="category"
        [(ngModel)]="newEvent.category_name"
        name="category"
        required
      >
        <option value="" disabled>Wybierz kategorię</option>
        <option *ngFor="let category of categories" [value]="category.name">
          {{ category.name }}
        </option>
      </select>
    </div>

    <div class="form-group">
      <label for="start_date">Data rozpoczęcia:</label>
      <input
        id="start_date"
        type="date"
        [(ngModel)]="newEvent.start_date"
        name="start_date"
        required
      />
    </div>

    <div class="form-group">
      <label for="end_date">Data zakończenia:</label>
      <input
        id="end_date"
        type="date"
        [(ngModel)]="newEvent.end_date"
        name="end_date"
        required
      />
    </div>

    <div class="form-group">
      <label for="description">Opis wydarzenia:</label>
      <textarea
        id="description"
        [(ngModel)]="newEvent.description"
        name="description"
        required
        placeholder="Podaj opis wydarzenia"
      ></textarea>
    </div>

    <div class="form-group">
      <label for="color">Kolor wydarzenia:</label>
      <input
        id="color"
        type="color"
        [(ngModel)]="newEvent.color"
        name="color"
        required
      />
    </div>

    <div class="form-group">
      <label for="image">Obraz URL:</label>
      <input
        id="image"
        type="text"
        [(ngModel)]="newEvent.image"
        name="image"
        placeholder="Wpisz URL obrazu"
      />
    </div>

    <button type="submit">Dodaj wydarzenie</button>
  </form>
</div>
